/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }
  html {
    font-family: sans-serif;
  }
  body {
    padding: 30px;
  }
  .screen {
    display: grid;
    grid-gap: 20px;
  }
  @media (min-width: 700px) {
    .screen {
      grid-template-columns: 260px 1fr;
    }
  }
  .avatar {
    position: sticky;
    top: 30px;
    display: flex;
    justify-content: center;
  }
  .options {
    display: grid;
    grid-gap: 20px;
    justify-items: flex-start;
  }
  .options > div {
    display: grid;
    grid-gap: 10px;
  }
  label {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  button {
    padding: 4px 6px;
  }
  .buttons {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    align-items: center;
  }